﻿<div class="custom-modal">
    <div class="modal-header">
        <h3 class="modal-title">{{Title}}</h3>
        <button type="button" class="close pull-right" data-widget-close="" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    </div>
    <form ng-submit="CreateStudent(Add)">
        <div class="modal-body primary-modal">

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">First Name</label>
                    <input class="form-control  .col-xs-6 .col-sm-3" type="text" placeholder="First Name" ng-model="Add.FirstName">
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Last Name</label>
                    <input class="form-control  .col-xs-6 .col-sm-3" type="text" placeholder="Last Name" ng-model="Add.LastName">
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Address</label>
                    <input class="form-control  .col-xs-6 .col-sm-3" type="text" placeholder="Address" ng-model="Add.Address">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Class</label>
                    <select class="form-control" id="select" ng-model="Add.Class">
                        <option ng-repeat="option in ClassList" value="{{option.Value}}">{{option.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4" style="background-color:white">
                    <label class="control-label">Date of Birth</label>
                    <input class="form-control" placeholder="Enter your Birth Date" id="demoDate" ng-model="Add.DateOfBirth">
                </div>
            </div>

            <hr />

        </div>

        <div class="modal-footer">
            <!-- <button class="btn btn-warning" ng-click="cancel();">cancel</button> -->
            <button class="btn btn-primary" type="submit" ng-click="$close()">Save</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>
    </form>
</div>
<script type="text/javascript">
            $('#demoDate').datepicker({
                autoclose: true,
                todayHighlight: true
            });
</script>






