﻿<style>
    table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
        content: "";
    }

   #entry-grid {
        background-color: #009688 !important;
    }
   .dataTables_wrapper .dataTables_paginate .paginate_button.current{
       padding: 4px 10px !important;
    border-radius: 4px !important;
    background: #4ae4d6 !important;
    border: none !important;
   }
   .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
       padding: 4px 10px !important;
    border-radius: 4px !important;
    background: #d7d7d7 !important;
    border: 1px solid transparent !important;
   }
   .dataTables_wrapper .dataTables_paginate .paginate_button{
       padding: 4px 10px !important;
   }
   #entry-grid th{
       color: #ffffff !important;
   }
   .dataTables_filter input{
       border: 1px solid #c5c5c5;
       line-height: 25px;
   }
   .dataTables_filter input:focus{
       border: 1px solid #19d3f1;
   }
   .dataTables_length select{
       border: 1px solid #c5c5c5;
       line-height: 25px;
   }
   .dataTables_length select:focus{
       border: 1px solid #19d3f1;
   }
</style>
<div class="page-title" style="margin-top: -46px !important;">
    <div>
        <h1><i class="fa fa-th-list"></i> Data Table</h1>
        <p>Student Records</p>
    </div>
    <div>
        <ul class="breadcrumb side">
            <li><a href="http://localhost:3855" class="fa fa-home fa-lg"></a></li>
            <li>Tables</li>
        </ul>
    </div>
</div>
<div ng-controller="StudentCtrl as vm">
    <button ng-click="vm.reloadData()" type="button" class="btn btn-info">
        <i class="fa fa-refresh"></i>&nbsp;Reload data
    </button>
    <button ng-click="vm.Create()" type="button" class="btn btn-info">
        Create
    </button>
    <div class="card">
        <h3 class="card-title">Posting</h3>
        <table id="entry-grid" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"  dt-instance="vm.dtInstance" class="table table-hover table-bordered">
         </table>
        </div>
    </div>