﻿<script src="../../../js/main.js"></script>
<div class="wrapper">
    <!--<!-- Navbar-->
    <header class="main-header hidden-print">
        <a class="logo" href="index.html">Student Management</a>
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button--><a class="sidebar-toggle"  data-toggle="offcanvas"></a>
            <!-- Navbar Right Menu-->
            <div class="navbar-custom-menu">
                <ul class="top-nav">
                    <!--Notification Menu-->
                    <li class="dropdown notification-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o fa-lg"></i></a>
                        <ul class="dropdown-menu">
                            <li class="not-head">You have 4 new notifications.</li>
                            <li>
                                <a class="media" href="javascript:;">
                                    <span class="media-left media-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                    <div class="media-body"><span class="block">Lisa sent you a mail</span><span class="text-muted block">2min ago</span></div>
                                </a>
                            </li>
                            <li>
                                <a class="media" href="javascript:;">
                                    <span class="media-left media-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                    <div class="media-body"><span class="block">Server Not Working</span><span class="text-muted block">2min ago</span></div>
                                </a>
                            </li>
                            <li>
                                <a class="media" href="javascript:;">
                                    <span class="media-left media-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                    <div class="media-body"><span class="block">Transaction xyz complete</span><span class="text-muted block">2min ago</span></div>
                                </a>
                            </li>
                            <li class="not-footer"><a>See all notifications.</a></li>
                        </ul>
                    </li>
                    <!-- User Menu-->
                    <li class="dropdown" ng-controller="notificationController">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                        <ul class="dropdown-menu settings-menu">
                            <!--<li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                            <li><a href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>-->
                            <li><a ng-click="logoutuser()"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Side-Nav-->
    <aside class="main-sidebar hidden-print">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image"><img class="img-circle" src="../../../images/avishek.PNG" />" alt="User Image"></div>
                <div class="pull-left info">
                    <p> Developer</p>
                </div>
            </div>
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li><a href="#/authorize"><i class="fa fa-dashboard"></i><span>Status Admin</span></a></li>
                <!--<li><a ui-sref="auth.list"><i class="fa fa-dashboard"></i><span>Post</span></a></li>-->

                <li class="treeview">
                    <a onclick="hidemenuAdmin()"><i  class="fa fa-file-text"></i><span>Admin</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#/student"><i class="fa fa-circle-o"></i> Manage Students</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>-->
    <div class="content-wrapper">
      
        <div id="content" class="content-container animate-fade-up" data-ui-view=""> </div>
    </div>
    
</div>

<script>  
    function hidemenuAdmin() {
        var showHideElement = document.getElementsByClassName("treeview-menu");
        if ($(showHideElement).hasClass('menu-open')) {
            $(showHideElement).slideUp("fast", function () {
                $(".treeview-menu").parent("li").removeClass("active");
                $(showHideElement).removeClass('menu-open');
            });
          
        }
        else {
            $(showHideElement).slideDown("fast", function () {
                $(".treeview-menu").parent("li").addClass("active");
                $(showHideElement).addClass('menu-open');
            })
         
        }
    }
</script>


